h1 {text-align: center;
	color:white;}
h2 {text-align: center;
	color:white;
	margin:0px 0px 150px;
	font-size: 40px}

body {background-image: url(https://wallpaperset.com/w/full/9/8/4/144676.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;}

#img1 {margin-left: 540px}
#parrafo1 {color:white;
		background-color: darkblue;
	}
#fuente {color: darkred;}

#tabla1 {margin-top: 350px;
margin-bottom: 30px;}
#tabla3 {color:black;
background-color: lightblue;
margin-left: 400px;
margin-top: 50px;
border:collapse;}

#div1 {position: absolute;}

#div2 {position: absolute; margin-top: 400px;}
#div3 {position: absolute; margin-left:180px; margin-top: 400px;}
#div4 {position: absolute; margin-left:350px; margin-top: 400px;}



table, th, td 	{font-family: "Times New Roman, Times", serif;
				font-style: italic;
				color:white;
				border: 1px solid black;
				background-color: gray;
				text-align: center;}

ul, li 			{font-family: "Times New Roman, Times", serif;
				font-style: italic;
				color:white;
				border: 3px solid black;
				background-color: gray;
				text-align: center;}				